<section>
  <div class="wrapper">
    <h1 class="heading">McEvoy Collection</h1>
  </div>
</section>

<section>
  <div class="wrapper">
    <h2 class="heading">Details</h2>
    
    <div>
      <div>Inventory No.</div>
      <div>NM12.127</div>
    </div>

    <!-- DETAILS LIST -->
    <div>
      <ul>
        <li><span>Artist</span>Diane Arbus</li>
        <li><span>Title</span>James Brown Backstage at the Apollo Theater, N.Y.C.</li>
        <li><span>Date</span>1966; printed later</li>
        <li><span>Edition</span>21/75</li>
        <li><span>Medium</span>Gelatin silver print</li>
        <li><span>Dimensions</span>20 x 16 inches</li>
        <li><span>Signature</span>Stamped “A Diane Arbus photograph,” signed, titled, dated, numbered</li>
        <li><span>Frame Support</span>25x24x2inches</li>
        <li><span>MediaType</span>B/WPhotograph</li>
        <li><span>Description</span>James Brown in suit (printed later by Neil Selkirk)</li>
        <li><span>Provenance</span>Robert Miller Gallery, NY</li>
        <li><span>Exhibitions</span></li>
        <li><span>References</span>Illus: Magazine Work, p. 74; Revelations, p. 178</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="wrapper">
    <h2 class="heading">Invoice Infomation</h2>

    <!-- INVOICE INFO -->
    <div>
      <ul>
        <li><span>Invoice No.</span>12723P</li>
        <li><span>Seller</span>Robert Miller Gallery Invoice No.12723P</li>
        <li><span>Purchase Price</span>$6,375</li>
        <li><span>Retail Price</span>$7,500</li>
        <li><span>Insured Value</span>$7,500</li>
        <li><span>Date</span>1 November 2012</li>
        <li><span>Value Date</span>29 November 2012</li>
        <li><span>Tax Paid</span>0</li>
        <li><span>Tax Rate</span>0</li>
        <li><span>State</span>New York</li>
        <li><span>Provenance</span>Robert Miller Gallery, NY</li>
        <li><span>Exhibitions</span></li>
        <li><span>References</span>Illus: Magazine Work, p. 74; Revelations, p. 178</li>
      </ul>
    </div>
  </div>
</section>

