.image-hero {
  padding: 2rem 0 12rem;

  img { display: block; width: 100%; margin: 0 auto;}

  .heading { @include type-size(3) }
  .heading-sub { 
    padding-top: 3rem;
    font-family: $light; 
    @include type-size(2.5)
  }
  .heading-em { font-family: $light-italic; @include type-size(2) }
  .heading-sub-lrg {
    color: lighten($site-color, 60%);
    font-family: $light;
    @include type-size(2.2);
  }
}